checkpoints/*
errors
outputs
submit_job_parra.sh
visual_embed/mae_visualize_vit_large.pth
dataset
multimodal_model.pth
environment.yml
submit_job_mono.sh
submit_job_parra_ddp.sh
submit_job_cross_mono.sh
submit_job_para_cross.sh
submit_job_cross_attention_mono.sh
cross_attention_multimodal_model.pth