checkpoints/*
errors
outputs
submit_job_parra.sh
visual_embed/mae_visualize_vit_large.pth
dataset
multimodal_model.pth
environment.yml
submit_job_mono.sh
submit_job_parra_ddp.sh
submit_job_cross_mono.sh
submit_job_para_cross.sh
submit_job_cross_attention_mono.sh
cross_attention_multimodal_model.pth
submit_job_transfer.sh
cross_attention10.pth 
cross_attention_multimodal_model10.pth
transfer_cross_attention10.pth
v2*
test2015
train2014
saved_samples
results
val2014
*.pth
submit*
*.sh
coco_dataset
checkpoints